<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Personal Budget</title>
    <link rel='stylesheet' href='http://titusdolphus.com/A2Nodejs/static/style.css' />

 <script async src='http://titusdolphus.com/Portfolio/static/dist/index.js'></script>
 
 


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">


</head>

<body>
   
    
    <div id="navbar">
        
        
    </div>
    
     <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <h1 class="">PERSONAL<span>/</span>BUDGET</h1>
                    <h1 class="">PERSONAL<span>/</span>BUDGET</h1>
                    <h1 class="">PERSONAL<span>/</span>BUDGET</h1>
                    <h1 class="">PERSONAL<span>/</span>BUDGET</h1>
                    <h1 class="">PERSONAL<span>/</span>BUDGET</h1>
                    <h1 class="">PERSONAL<span>/</span>BUDGET</h1>
                    <h1 class="">PERSONAL<span>/</span>BUDGET</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="http://titusdolphus.com/A2Nodejs/static/pinkDollas.png" alt="safe with pink dollars">
            </div>
        </div>
    </section>

    <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="http://titusdolphus.com/A2Nodejs/static/pinkPiggy.png" alt="pink piggy bank" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>LOGIN TO SEE PERSONAL BUDGET GRAPHS</h2>
                        <img src="http://titusdolphus.com/A2Nodejs/static/lolli_icon.png" alt="lolli pop icon" class="d-none d-lg-inline">
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae beatae, maiores deserunt in voluptatibus aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur repellat eveniet quidem
                            voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam autem nam ex deserunt debitis eaque ratione! Nobis, quidem assumenda.</p>
                        <button type="button" class="btn btn-primary">LOGIN</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>SIGN UP NOW TO SEE PERSONAL BUDGET</h2>
                        <img src="http://titusdolphus.com/A2Nodejs/static/lolli_icon.png" alt="loli pop icon" class="d-none d-lg-inline">
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae beatae, maiores deserunt in voluptatibus aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur repellat eveniet quidem
                            voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam autem nam ex deserunt debitis eaque ratione! Nobis, quidem assumenda.</p>
                        <button type="button" class="btn btn-primary">SIGN-UP</button>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <img src="http://titusdolphus.com/A2Nodejs/static/gumball.png" alt="blue and pink gumball machine" class="img-fluid">
            </div>
        </div>

    </section>
 
</body>
 
</html>